@model List<CommentViewModel>
<div class="container mt-5">

    <div>

        <div class="float-start"> <h2>Yorumlar</h2> </div>
      

    </div>

    <div style="padding-top:75px">

        <table id="productTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Kullanıcı Adı</th>
                    <th style="width:700px">Yorum</th>
                    <th style="width:200px"></th>
                </tr>
            </thead>
            <tbody>


                @foreach (var comment in Model)
                {
                    <tr>
                        <td>@comment.UserName</td>
                        <td>@comment.CommentContent</td>
                        <td>

                       
                            <a asp-area="Admin" asp-controller="Comment" asp-action="Delete" asp-route-id="@comment.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash3"></i> Sil</a>

                        </td>

                    </tr>
                }
            </tbody>

        </table>

        @section Scripts {
            <script>
                $(document).ready(function () {
                    $('#productTable').DataTable(
                        {
                            pageLength: 5,
                            language: {
                                url: '//cdn.datatables.net/plug-ins/1.12.1/i18n/tr.json'
                            }
                        }


                    );
                });
            </script>
        }



        </div>
















    </div>