
<div class="row mt-3 mb-3">

    <div class="col-md-6">

        <div class="card ms-4" style="width:900px">




            <a href="~/images/products/CheaplaCargo.gif" data-lightbox="~/images/products/CheaplaCargo.gif" data-title="Cheapla">
                <img class="card-img-top" style="width:900px ; height:800px" src="~/images/products/CheaplaCargo.gif" alt="Card image cap" />
            </a>


            <div class="card-body" style="background-color:darkgray;width:900px;height:800px">

                <p class="card-text">
                    <h1>
                        İlk Alışverişe Özel Ücretsiz Kargo
                    </h1>

                    <h1>  Kullanım Şartları </h1>
                    Cheapla üyeliğini tamamladıktan sonra Cheapla online üzerinden  yapacağın ilk alışverişlerinde ücretsiz kargo.
                    Kampanya kapsamında değişiklik yapma hakkı Cheapla’da saklıdır.

                    <h1>   Ne zaman kullanabilirim?</h1>
                    Cheapla Gift Club üyeliğini tamamladıktan sonraki ilk alışverişinde kullanabilirsin.

                    Ücretsiz kargodan yararlanmak için yapmam gereken alışveriş tutarı nedir?
                    Bir alt limit bulunmamaktadır. İstediğin tutardaki ilk alışverişinde kullanabilirsin.

                    <h1>
                        Ücretsiz kargoyu kaç defa kullanabilirim?
                    </h1>
                    Ücretsiz kargo kampanyası Cheapla Gift Club üyeliğini tamamlayanların sadece online üzerinden yapacağı ilk alışverişlerinde geçerlidir.
                <p class="fw-bold" style="color:red;"> Sakın Bu Fırsatı Kaçırma!</p>







            </div>

        </div>

    </div>

</div>


