
<div class="row mt-3 mb-3">

    <div class="col-md-6">

        <div class="card ms-4" style="width:1300px">




            <a href="~/images/products/CheaplaWinter.gif" data-lightbox="~/images/products/CheaplaWinter.gif" data-title="Cheapla">
                <img class="card-img-top" style="width:1300px ; height:800px" src="~/images/products/CheaplaWinter.gif" alt="Card image cap" />
            </a>


            <div class="card-body" style="background-color:darkgray;width:1300px">

                <p class="card-text">
                    <h1> Kışa Özel </h1>
                    Kış indiriminde avantajlı alışveriş fırsatları devam ediyor. Macera, paylaştıkça daha güzel. Birlikte keşfetmeyi sevenler için hediye önerileri indirimli fiyatlarla Cheapla'da.
                    Cheapla'da Seçili Ürünlerde Hafta Sonuna Özel %50 İndirim!
                    Doğayla iç içe olmayı, macera peşinde koşmayı sevenlere... En özel Cheapla ürünleri indirimli fiyatlarla satışta! Kışa özel indirim fırsatlarından hemen faydalanın, hafta sonu indirimleri ile hem kendinize hem sevdiklerinize hediyeler alın.
                   
                <p class="fw-bold" style="color:red;">Kış İndirimi 13-14 şubat 2023'de Cheapla'ya özel soğuk havalar için seçili ürünler de %50 indirim fırsatı!</p>







            </div>

        </div>

    </div>

</div>