
<div class="row mt-3 mb-3">

    <div class="col-md-6">

        <div class="card ms-4" style="width:900px ; height:500px">




            <a href="~/images/products/İndirim.gif" data-lightbox="~/images/products/İndirim.gif" data-title="Cheapla">
                <img class="card-img-top" src="~/images/products/İndirim.gif" alt="Card image cap" />
            </a>


            <div class="card-body" style="background-color:darkgray">

                <p class="card-text">
                    <h1> İndirim Kuponu </h1>

                    Cheapla yılın belli dönemlerinde belli kampanyalar yapar. Bu kampanyalar farklı zaman dilimlerinde farklı ürünler özelinde yapılır. Bu kampanyalar arasında en dikkat çekici olanı İndirim Kuponu indirimleri olur.Bu yıla özel 200 Tl ve üzeri Alışverişleriz de
                <p class="fw-bold" style="color:red;">25 Tl İndirim Kuponu Hediye Sakın Bu Fırsatı Kaçırma!</p>


                 




            </div>

        </div>

    </div>

</div>